<%- include('header.ejs') %>

<div class="ui container form">

    <div style="text-align: center; margin-top: 2vh;">
        <h2 style="color:rgb(24, 112, 228); font-family: 'Josefin Sans', sans-serif;"><%- formname %></h2>
    </div>

    <form class="ui form" action="<%- link %>" method="post" enctype="application/x-www-form-urlencoded">
        <br />
        <br />
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="<%- name %>" /><br /><br />
        
        <% if(category != "") { %>
            <label>Category</label>
                <select type="text" id="category" name="category" placeholder="category">
                    <% for(var i=0; i < category.length ; i++) { %>
                        <% if(category[i].name == prevcat) { %>
                            <option value="<%- category[i].name %>" selected="selected" ><%- category[i].name %></option>
                            
                        <% } else { %>
                            <option value="<%- category[i].name %>"><%- category[i].name %></option>
                        
                        <% } %>
                    <% } %>
                </select>
        <% } %>
            <br></br>
        <input class="ui button primary" type="submit" placeholder="click to submit" />
    </form>
</div>